@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0084f0;

  --font-primary: "Tomorrow", sans-serif;
  --font-secondary: "Tektur", sans-serif;
  --font-tertiary: "Oswald", sans-serif;

  --spacing-container: var(--container-padding);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: white;
    background: black;
  }

  button {
    cursor: pointer;
  }
}

:root {
  --background: #ffffff;
  --container-padding: 15px;
  --foreground: #050505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

@media (width >= 40rem) {
  :root {
    --container-padding: 20px;
  }
}

@media (width >= 48rem) {
  :root {
    --container-padding: 30px;
  }
}

@media (width >= 64rem) {
  :root {
    --container-padding: 40px;
  }
}

@media (width >= 80rem) {
  :root {
    --container-padding: 45px;
  }
}

@media (width >= 96rem) {
  :root {
    --container-padding: 50px;
  }
}
